<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Redirecting...</title>
</head>
<body>
   <p>Redirecting...</p>
   <script>
      // Function to get parameter value from URL
      function getParameterByName(name, url) {
          if (!url) url = window.location.href;
          name = name.replace(/[\[\]]/g, "\\$&");
          const regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
              results = regex.exec(url);
          if (!results) return null;
          if (!results[2]) return '';
          return decodeURIComponent(results[2].replace(/\+/g, " "));
      }

      // Get teacherUserId from URL
      var teacherUserId = getParameterByName('teacherUserId');
      console.log('Teacher User ID:', teacherUserId);
      console.log('Executing confirm.js logic...');

      fetch('/homepage', {
           method: 'POST',
           headers: {
               'Content-Type': 'application/json',
         },
         body: JSON.stringify({ userID: teacherUserId })
      })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            window.location.href = data.homepage;
      })
        .catch(error => {
            console.error('Error:', error);
      });

      setTimeout(function() {
         window.location.href = 'homepage.ejs';
      }, 1000);
   </script>
</body>
</html>
